@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-bg-dark-900: #121212;
    --tw-bg-dark-800: #1E1E1E;
    --tw-bg-dark-700: #2D2D2D;
    --tw-bg-dark-600: #3D3D3D;
    --tw-primary-600: #5E5CE6;
  }

  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-dark-600;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-dark-900 dark:text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  }

  .dark {
    background-color: var(--tw-bg-dark-900);
    color: #f3f4f6;
  }
}
